<h4 class="page-heading">{{title}}</h4>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Process Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  	
    <tr *ngFor="let equipment of processes | paginate: { itemsPerPage: pp, currentPage: p }">
      <td>{{equipment.process}}</td>
      <td>

      <a>
        <img class="icons" src="assets/edit.png" alt="Edit" height=20>
      </a>
      <a>
        <img class="icons" src="assets/delete.png" alt="Delete" height=20>
      </a>

      </td>
          
    </tr>
    
  </tbody>
</table>

<pagination-controls (pageChange)="p = $event"></pagination-controls>