<!--<nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav> -->

    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9 col-sm-push-3">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" title="Toggle sidebar"><i class="fa fa-chevron-right"></i></button>
          </p>
          
          <div class="row">
            
          <router-outlet></router-outlet>

          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 col-sm-pull-9 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a [routerLink]="['configuration']" class="list-group-item">eCheck Configuration</a>
            <a [routerLink]="['process']" class="list-group-item">Process</a>
            <a href="#" (click)="activeMenu='product-sku'" [ngClass]="{active: activeMenu === 'product-sku'}" class="list-group-item">Product SKU</a>
            <a href="#" (click)="activeMenu='eqtype'" [ngClass]="{active: activeMenu === 'eqtype'}" class="list-group-item">Equipment Type</a>
            <a href="#" (click)="activeMenu='equipment'" [ngClass]="{active: activeMenu === 'equipment'}" class="list-group-item">Equipment</a>
            <a href="#" (click)="activeMenu = 'inspection'" [ngClass]="{active: activeMenu === 'inspection'}" class="list-group-item">eCheck Inspection</a>
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <hr>


      <footer>
        <!--<p>&copy; 2015 Company, Inc.</p>-->
      </footer>

    </div><!--/.container-->